include LICENSE
include README.rst
include README.md

recursive-include docs *

recursive-include django_errors/tests *
recursive-include django_errors/locale *
recursive-include django_errors/static *
recursive-include django_errors/templates *

