include *.py
include *.rst
include *.md
include *.yaml
include *.yml
include *.cfg
include tox.ini
include LICENSE

recursive-include requirements *.in
recursive-include requirements *.py
recursive-include requirements *.txt
recursive-include src *.html
recursive-include src *.po
recursive-include tests *.py
recursive-include docs *
