include *.py
include *.rst
include *.md
include *.yaml
include *.yml
include *.cfg
include tox.ini
include LICENSE
include CODEOWNERS

recursive-include requirements *.in *.txt
recursive-include src *.py *.html *.po *.mo
recursive-include tests *.py *.html
recursive-exclude docs *
