{% extends "base.html" %}
{% load i18n staticfiles %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="container" id="layout">
    <!-- Docs nav ================================================== -->
    <div class="row">
		<div class="col-lg-9 col-sm-9" id="article">
			<!-- Button -->
			<section id="button">
				<div class="page-header">
					<h1>django-errors</h1>
				</div>
				<p>
					<a href="{% url '400' %}"><button class="ui-button-warning">400</button></a>
					<a href="{% url '403' %}"><button class="ui-button-warning">403</button></a>
					<a href="{% url '404' %}"><button class="ui-button-warning">404</button></a>
					<a href="{% url '500' %}"><button class="ui-button-error">500</button></a>
				</p>
			<section>
		</div>
	</div>
</div>
{% endblock %}

{% block bottom_js %}
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(document).on("pageloadfailed", function(event, data){
			event.preventDefault();
			
			var errMessage = data.xhr.status + " " + data.xhr.statusText;
			<!-- var errMessage = data.messages; -->

			setTimeout(function(){
				$.mobile.loading('hide');
				$.mobile.loading('show', {theme:"b", text:errMessage, textonly:false, textVisible: true});
			},50);
			
			setTimeout(function(){$.mobile.loading('hide')}, 2000);
			
			data.deferred.reject(data.absUrl, data.options);
			
		});
	});
	</script>
{% endblock %}