name: CI

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-django:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get update && sudo apt-get install gettext

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3.3.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install --upgrade codecov tox tox-py

      - name: Run tox targets for ${{ matrix.python-version }}
        run: tox --py current

      - name: Upload coverage
        run: |
          coverage combine
          codecov

  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    needs: test-django
    permissions:
      actions: read
      contents: read
      checks: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'python' ]
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: "3.x"

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v3.3.1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install OS dependencies
      run: |
        sudo apt-get install -y gettext

    - name: Install Python dependencies
      run: pip install black flake8

    - name: Run linters
      uses: wearerequired/lint-action@v2
      with:
          black: true
          flake8: true
#          stylelint: true
#          eslint: true
#          prettier: true

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}

    - name: Autobuild
      uses: github/codeql-action/autobuild@v2

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

  bots:
    name: BOTs (Dependabot/Pre-Commit-CI) Pull Request Approve and Merge
    runs-on: ubuntu-latest
    needs: [test-django, analyze]
    # Checking the actor will prevent your Action run failing on non-Dependabot or non-Pre-Commit-CI
    # PRs but also ensures that it only does work for Dependabot PRs and Pre-Commit-CI
    if: github.actor == 'dependabot[bot]' || github.actor == 'pre-commit-ci[bot]' || github.actor == 'dlrsp-bot'
    steps:
      # This first step will fail if there's no metadata and so the approval
      # will not occur.
      - name: Dependabot metadata
        if: github.actor == 'dependabot[bot]'
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v1.5.1
        with:
          github-token: "${{ secrets.PERSONAL_TOKEN }}"
      # Here the PR gets approved.
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
      # Finally, this sets the PR to allow auto-merging for patch, minor and major
      # updates if all checks pass
      - name: Enable auto-merge for Dependabot PRs
        # if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
      - name: Rebase this branch if behind the main
        run: |
          if [[ "$(git rev-list --left-right --count origin/main...${{ github.event.pull_request.head.sha }} | awk -F' ' '{print $1}')" != 0 ]] ; then 
            echo "This branch is not up to date with main: rebase it!";
            gh pr comment --body "/rebase" "$PR_URL"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}

  deploy:
    name: PyPI Deploy ${{ matrix.python-version }}
    strategy:
      max-parallel: 5
      matrix:
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: [test-django, analyze]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OS dependencies
        run: |
          sudo apt-get install -y gettext

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build a binary egg
        run: |
          python setup.py bdist_egg

      - name: Build a binary wheel and source tarball with latest python version
        if: matrix.python-version == '3.11'
        run: |
          python setup.py sdist bdist_wheel

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  release:
    name: GitHub Release
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: [ test-django, analyze, deploy]
    steps:
      - uses: actions/checkout@v3

#      - name: Changelog
#        uses: scottbrenner/generate-changelog-action@master
#        id: Changelog
#        env:
#          REPO: ${{ github.repository }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            ${{ steps.Changelog.outputs.changelog }}
          draft: false
          prerelease: false
