---
name: Upgrade dependencies

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'requirements/*.in'
  schedule:
    # Runs every Monday at 8:00 UTC
    - cron: '0 8 * * *'

jobs:
  upgrade:
    uses: DLRSP/workflows/.github/workflows/upgrade-dependency.yaml@v1.15.7
    secrets: inherit
